{% extends "base.html" %}

{% block content %}
  <div class="d-flex align-items-center justify-content-between">
    <h1 class="mb-4">Tags List</h1>
    <a href="{% url 'todo:tag_create' %}" class="btn btn-primary">Add New</a>
  </div>
  {% if tags %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Update</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for tag in tags %}
          <tr>
            <td>{{ tag.name }}</td>
            <td>
              <a href="{% url 'todo:tag_update' tag.pk %}" class="btn btn-warning btn-sm">Edit</a>
            </td>
            <td>  
              <a href="{% url 'todo:tag_delete' tag.pk %}" class="btn btn-danger btn-sm">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
  {% else %}
    <p>No tags available.</p>
  {% endif %}


{% endblock content %}
