{% extends "base.html" %}

{% block content %}
  <div class="d-flex align-items-center justify-content-between">
    <h1 class="mb-4">TODO List</h1>
    <a href="{% url 'todo:task_create' %}" class="btn btn-primary">Add New Task</a>
  </div>

  <ul class="list-group">
    {% for task in tasks %}
      <li class="list-group-item">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <div class="d-flex align-items-center mb-2">
              <h5 class="mx-2">{{ task.content }}</h5>
                {% if task.is_done %}
                  <span class="badge bg-success rounded-pill">Done</span>
                {% else %}
                <span class="badge bg-warning rounded-pill">Not done</span>
              {% endif %}
            </div>
            <p>
              Created: {{ task.created_at }}
              {% if task.deadline %}
                | Deadline: {{ task.deadline }}
              {% endif %}
            </p>
            <div class="d-flex gap-2 mb-2 align-items-center">
              
              Tags:
              {% for tag in task.tags.all %}
              <span class="badge bg-info text-dark ">{{ tag.name }}</span>
              {% empty %}
              <span class="text-muted">No tags</span>
              {% endfor %}
              
              <a href="{% url 'todo:task_update' task.pk %}" class="btn btn-warning btn-sm">Edit</a>
              
              <a href="#" class="btn btn-danger btn-sm">Delete</a>
            </div>
          </div>
          <form method="post" action="#">
            {% csrf_token %}
            {% if task.is_done %}
              <button type="submit" class="btn btn-secondary">
                Undo
              </button>
            {% else %}
              <button type="submit" class="btn btn-success">
                Complete
              </button>
            {% endif %}
          </form>
        </div>
      </li>
    {% empty %}
      <li class="list-group-item">No tasks available.</li>
    {% endfor %}


{% endblock content %}
